body {
    background-color: black;
}

div#topbox {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height:160px;
    background-color: black;

}

div#header {
    width: 100%;
    height: 100%;
    background-color: darkblue;
    margin-top: 80px;
    background-image: url("../Pictures/header.png");
}

div#header h1{
    color: white;
}

div#menu {
    width: 850px;
    height: 80px;
    background-color: whitesmoke;
    position:fixed; /* Makes the menu always stay on the screen */
    top: 0; /*Position top of the screen */
}
div#menu a{
    text-decoration: none;
    line-height: 80px;
    display: block; /* Gives the hover function a block to color */
    float: left;
    padding-left: 50px;
    padding-right: 55px;
    color: black;
}

/* Hover for the menu */
div#menu a:hover {
    height: 100%;
    background-color: blue;
    color: #666666;
}