body {
    background-color: green;
}

div#topbox {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height:160px;
    background-color: black;
}

div#header {
    width: 100%;
    height: 100%;
    background-color: blue;
    margin-top: 80px;
}

div#menu {
    width: 850px;
    height: 80px;
    background-color: hotpink;
    position:fixed;
    top: 0;
}

div#content {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    height:1200px;
    background-color: white;
}